/* todo - fix the size of the student list on the teacher create game page */
body {
  margin: 0;
}

#logoutBtn {
  left: 0;
  position: absolute;
  z-index: 10;
}

#btnRow{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#enableSoundsBtn {
  right: 0;
  position: absolute;
  z-index: 10;
}

/*! Title Screen */
#titleBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*! Teacher Login  */

/*! Create Game Page  */

#mainContent {
  overflow-x: hidden;
}
/* #mainContent >  */

#createGameContent {
  min-height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#questionAndAnswerInputForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#questionAndAnswerInputForm > input {
  margin-top: 0.5em;
}
#questionAndAnswerInputForm > input,
#addNewCategorySection > input,
#addNewCategorySection > textarea {
  font-size: x-small;
  border-radius: 0.5rem;
  text-align: center;
  min-height: 1.5rem;
}

#addNewCategorySection > input {
  width: 15em;
  max-width: 80%;
}

#questionAndAnswerInputForm > button {
  border-radius: 0.5rem;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
#newQuestionAndAnswerContainer,
#addNewCategorySection,
#assembleNewCategorySection,
#gameplayCategoriesSection {
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  background-color: gray;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

#answerInput,
#questionInput {
  border-radius: 0.5rem;
  width: 100%;
}

#questionInput {
  margin-bottom: 0.5rem;
}

#createGameContentSection,
#assembleNewCategorySection,
#existingQuestionsAndAnswersSection,
#availableGamesSection,
#gameplayCategoriesSection {
  margin-left: 10%;
  margin-right: 10%;
}

#existingQuestionsAndAnswersContainer {
  padding: 1rem;
  background-color: gray;
  color: white;
}

.existingQuestionCheckboxes {
  height: 1rem;
}

#addNewCategorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  transition: all 1s ease;
  padding-bottom: 1rem;
  gap: 1rem;
}

#availableGamesSection {
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#responsesTextBoxInput {
  margin-bottom: 0.75rem;
}

#createNewQuestionAndAnswerHeaders,
.listingContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-weight: bold;
}

.categoryHolderHeadings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  text-decoration: underline;
  /* background-color: rgb(83, 83, 83); */
  color: white;
}

.categoryListings {
  /* width: 90%; */
  background-color: gray;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* padding-left: 10%; */
}

#checkboxHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createNewQuestionAndAnswerHeaders > div,
.listingContainer > div {
  text-align: center;
}

.listingContainer {
  border: 1px solid black;
  border-bottom: none;
  font-weight: normal;
}

.listingContainer:last-child {
  border-bottom: 1px solid black;
}

#newQuestionAndAnswerContainer {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 0.75rem;
}

#newQuestionAndAnswerHeader,
#addNewCategorySectionHeader {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}

#newQuestionAndAnswerHeader:hover,
#addNewCategorySectionHeader:hover {
  color: rgb(204, 204, 204);
  cursor: pointer;
}

#addNewCategorySectionHeader {
  padding-top: 1rem;
}

.categoryHolder {
  height: 2rem;
  overflow-y: hidden;
  border: 1px solid black;
  margin-bottom: 1rem;
}

#assembleNewCategorySectionOL {
  padding: 0.5rem;
}

#assembleNewCategorySectionOL > li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
}

#availableGamesSection {
  height: fit-content;
  background-color: gray;
  color: white;
}

#availableGamesSectionHeader {
  text-align: center;
}

#assembleNewCategorySection {
  color: white;
  background-color: gray;
  padding: 0.5rem;
}

#newClassAndCategorySection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#newClassAndCategorySection > * {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#newClassAndCategorySection > * > input {
  max-width: 10em;
  margin-left: 1rem;
}

#promptsTextBoxInput,
#responsesTextBoxInput {
  width: 80%;
  height: 5rem;
  font-size: large;
  resize: vertical;
  /* background-color: red; */
}

#classNameAndLabel,
#unitNameAndLabel {
  /* display: flex; */
  /* align-items: center; */
  /* width: 80%; */
  justify-content: space-between;
  flex-wrap: wrap;
}

#questionAndAnswerInputForm {
  width: 80%;
}

#classAndUnitLine {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-direction: column; */
}

#classAndUnitLine > div > input {
  border-radius: 0.5rem;
  height: 1.5rem;
}

#gameplayCategoriesSection {
  min-height: 1rem;
}

#categoryHeadersRow,
.availableCategoriesRows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* width: 100%; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

.availableCategoriesRows > * {
  width: 90%;
}

#newClassNameInput,
#newCategoryNameInput {
  width: 100%;
}
/*! Question Listing Window */

.availableGamesTitleRows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10%;
  margin-right: 10%;
}

.availableGamesTitleRows > * {
  text-align: center;
}

.availableGameRows {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1f 1fr;
  border-top: 1px solid black;
  margin-bottom: 1rem;
}

#questionListingWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  transition: all 0.5s ease;
  opacity: 0;
}

/*!  Pending Game Window Section  */

#pendingGameWindow {
  width: 100vw;
  height: calc(100vh - 2rem);
  background-color: gray;
  border: 2px solid white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#studentListSection {
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem;
}

#studentNamesList > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#studentEmailsHeader {
  color: black;
  /* text-align: center; */
  font-size: larger;
  font-weight: bold;
}

#teacherSelectLine{
  margin-top: 2rem;
}
/*! ---------------------- Gameplay Section ------------------------  */

#gameWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 3rem; */
  height: 100vh;
  width: 100vw;
  overflow: none;
  /* min-height: 100vh; */
  /* min-width: 100vw; */
}

#gameHeader{
  margin-bottom: 1rem;
  font-size: x-large;
}

#backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: red!important; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: auto; */
  /* justify-content: center; */
  /* align-items: center; */
}

#promptResponseWindow {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin: 10%;
  border-radius: 1rem;
  border: 5px solid blue;
  /* background-color: rgba(0,0,0,0); */
}

#promptCategory {
  font-weight: bolder;
}

#buzzInBtn {
  /* position: absolute; */
}

#borderGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  aspect-ratio: 1/1;
  max-height: calc(80% - 14px);
  max-width: calc(80% - 4px);
  min-height: calc(80% -4px);
  min-width: calc(80% - 4px);
  align-items: center;
  justify-content: center;
  overflow: none;
  /* padding: 3rem; */
}

#borderGrid > div {
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

#gameGrid {
  justify-self: top;
  align-self: left;
  display: grid;
  border: 1px solid black;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 8;
  width: auto;
  /* height: 100%; */
  /* width: 50%; */
}

.gameSquares,
.categorySquares {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.gameSquares:hover{
  background-color: gray;
  color: white;
}

.categorySquares {
  height: 2em;
  background-color: antiquewhite;
}

.playerBoxes{
  font-size: clamp(1px, 2vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 10%; */
  border: solid 1px black;
  background-color: rgb(93, 106, 216);
  color: white;
  /* display: flex; */
}

#playerScoreSection{
  text-align: center;
}